{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <div class="row">
        {% for post in posts %}
            <div class="card col-md-4" style="margin:5px; width: 18rem; border: 1px solid #e7e7e7; background-color: #f8f8f8; padding: 20px">
                <div class="card-body">
                    <h5 class="card-title"><b>
                            {{ post.title }}
                        </b></h5>
                    <p class="card-text">{{ post.description|length > 50 ? post.description|slice(0, 50) ~ '...' : post.description  }}
                    </p>
                    <a href="/blog/post/{{ post.id }}" class="btn btn-primary">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
